<section class="section">
  <h2 class="title">{{title()}}</h2>
  <div class="grid-container">
    @for (choice of config().choices; track $index) {
    <div aria-hidden="true"
      class="choice-item"
      (click)="pickChoice(choice)"
      [class.selected]="isPicked(choice)"
      [class.bg-purple-500]="isPicked(choice)"
      [class.text-white]="isPicked(choice)"
      [class.bg-gray-200]="!isPicked(choice)">

      <img [src]="choice.icon" alt="" class="icon" width="50px" height="50px">

      @if (isPicked(choice)) {
      <div class="checkmark"> ✓ </div>
      }

      <span class="choice-text">{{choice.displayText}}</span>
    </div>
    }
  </div>
</section>
