<div class="p-4 rounded-lg mx-auto">
  <!-- Main item with details -->
  <div class="border border-gray-700 p-4 rounded-lg mb-4">
    <!-- Image and Brand-Price -->
    <div class="flex items-center mb-4">
      <img src="images/burguer-type/classic.png" alt="Burger" class="w-12 h-12 mr-4">
      <div>
        <p class="font-bold">Brand</p>
        <p class="text-sm text-gray-400">Price ($)</p>
      </div>
    </div>

    <!-- Button -->
    <button class="go-button text-sm py-2 px-4 rounded w-full mb-4">
      Let's go!
    </button>

    <!-- Description -->
    <p class="text-sm text-gray-400">Description</p>
    <p class="text-gray-500">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iusto dolorem odio rem ex quam quidem ratione. Optio laudantium corporis consequatur, incidunt, dolores at blanditiis doloremque voluptate possimus, ullam exercitationem dolor.</p>
  </div>

  <!-- Additional items -->
  <div class="border border-gray-700 p-4 rounded-lg mb-4 flex items-center">
    <img src="images/burguer-type/classic.png" alt="Burger" class="w-10 h-10 mr-4">
    <div>
      <p class="font-bold">Brand</p>
      <p class="text-sm text-gray-400">Price ($)</p>
    </div>
  </div>

  <div class="border border-gray-700 p-4 rounded-lg flex items-center">
    <img src="images/burguer-type/classic.png" alt="Burger" class="w-10 h-10 mr-4">
    <div>
      <p class="font-bold">Brand</p>
      <p class="text-sm text-gray-400">Price ($)</p>
    </div>
  </div>
</div>
