<main class="min-h-screen flex flex-col justify-between">
  <section class="flex-grow">
    <div class="progress-container">
      <div class="progress-bar" [style.width]="navigator.snapshot.current.progress + '%'"></div>
    </div>
    <router-outlet />
  </section>

  <footer class="sticky bottom-0">
    <div class="justify-between">
      @if (isFinalStep()) {
        <button
        (click)="navigator.previous()"
        [hidden]="!navigator.hasPrevious()"
        [disabled]="!navigator.snapshot.current.canGoPrevious"
        class="prev-button"
      >
        Prev
      </button>
      <button class="next-button final-step">✨ Go!</button>
      } @else {
      <button
        (click)="navigator.previous()"
        [hidden]="!navigator.hasPrevious()"
        [disabled]="!navigator.snapshot.current.canGoPrevious"
        class="prev-button"
      >
        Prev
      </button>
      <button
        (click)="navigator.next()"
        [hidden]="!navigator.hasNext()"
        [disabled]="!navigator.snapshot.current.canGoNext"
        class="next-button"
      >
        Next
      </button>
      }
    </div>
  </footer>
</main>
