<section class="section">
  <h2 class="title">{{title()}}</h2>
  <div class="grid-container">
    @for (choice of config().choices; track $index) {
    <div class="choice-container">
      <div
      class="choice-item"
      aria-hidden="true"
      (click)="pickChoice(choice)"
      [class.selected]="isPicked(choice)"
      [class.bg-purple-500]="isPicked(choice)"
      [class.text-white]="isPicked(choice)"
      [class.bg-gray-200]="!isPicked(choice)">

        <div class="icon">
          <img [src]="choice.icon" alt="" class="icon">
        </div>

        @if (mode() === 'MULTI' && isPicked(choice)) {
          <div class="checkmark"> ✓ </div>
        }

        <div class="choice-text">
          <span class="choice-name">{{choice.displayText}}</span>
          <p class="choice-description">Lorem ipsum dolor sit amet no se ke blah blah</p>
        </div>
      </div>
    </div>
    }
  </div>
</section>
